[class*="_container"]{
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 20px;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.header{
    background: #363636;
    .logo{
        img{
            max-width: 100px;
            max-height: 100px;
        }
    }
    .header_container{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        a{
            color: #FFF;
        }
        .nav{
            display: flex;
            ul{
                display: flex;
                gap: 0 85px;
                li{
                    .active {
                        color: #999999;
                    } 
                    .nav-item-ukr{
                        color: #999999;
                    }
                    a{
                        color: #FFF;
                        font-size: 20px; 
                        transition: ease-in-out 0.3s ;
                    }
                    a:hover{
                        cursor: pointer;
                        color: #999999;
                        
                    }
                    
                }
            }
        }
    }
}

.hero-section{
    background-image: url(/images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    .hero-section_container{
        text-align: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        h1{
            padding: 221px 0 60px 0;
            color: #FFF;
            font-size: 53px;
            font-weight: 600;
        }
        p{
            color: #FFF;
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 80px;
            max-width: 1300px;
        }
        .hero-btn{
            padding: 21px 71px;
            margin-bottom: 292px;
            background-color: #FF5F00;
            color: #fff;
            border-radius: 10px;
            transition-duration: 0.3s;
        }
        .hero-btn:hover {
            background-color: #1cc0c6;
            color: #ffffff;
        }
    }
}

.mission-section{
    background: linear-gradient(270deg, #00D885 0%, #71A6F6 100%);
    background-size: cover;
    .mission-section_container{
        h2{
            color: #000;
            font-size: 55px;
            font-weight: 600;
            text-align: center;
            padding: 75px 0 130px 0;
        }
        .mission-all{
            align-items: center;
            display: flex;
            padding-bottom: 150px;
            .mission-left{
                max-width: 50%;
                h4{
                    font-size: 40px;
                    color: #0A0A0A;
                    margin-bottom: 45px;
                    max-width: 800px;
                }
                p{
                    font-size: 26px;
                    color: #282828;
                }            }
            .mission-right{
                display: flex;
                .mission-img1{
                    max-width: 60%;
                    height: auto;
                }
                .mission-img2{
                    max-width: 30%; 
                    height: auto;
                }
        
            }
        }
    }
}

.projects-section{
    margin-bottom: 140px;
    .projects-section_container{
        
        text-align: center;
        align-items: center;

        h2{
            color: #000;
            font-size: 55px;
            font-weight: 600;
            margin: 65px 0 ;
        }

        ul{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
            gap: 0 10px;
                li{

                    img{
                        max-width: 80%;
                        height: auto;
                        padding-bottom: 26px;
                    }
                    h4{
                        color: #FF5F00;
                        font-size: 30px;
                        font-weight: 600;
                        max-width: 752px;
                    }
                    p{
                        color: #5C5C5C;
                        font-size: 30px;
                        font-weight: 500;
                        margin-top: 27px;
                        padding-bottom: 53px;
                        max-width: 752px;
                    }
                }
            }   
        }
        .projects-link{
            
            color: #282828;
            border-radius: 5px;
            padding: 20px 60px;
            border-width: 2px;
            border-style: solid;

            border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
            border-image-slice: 1;
            background: linear-gradient(180deg, rgba(255, 95, 0, 0) 0%, rgba(255, 95, 0, 0) 100%);
        }
        .projects-link:hover {
            border-width: 4px;
            
        }
    }   


.donate-section{
    background-image: url(/images/111.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 180px;
    background-repeat: no-repeat;
    .donate-section_container{
        h2{
            padding: 75px 0;
            text-align: center;
            width: 600;
            font-size: 55px;
            color: #fff;
        }
        .donate-all{
            display: flex;
            justify-content: center;
            .donate-left{
                margin-right: 21px;
            }
            .donate-right{
                min-height: 100%;
                display: flex;
                flex-direction: column;
                gap: 100px 0;
                h3{
                    color: #FFF;
                    font-size: 35px;
                    font-weight: 600;
                }
                p{
                    color: #FFF;
                    font-size: 28px;
                    max-width: 729px;
                    flex: 1 1 auto;
                    height: 80px;
                }
                .donate-btn{
                    margin-bottom: 20px;
                    transition-duration: 0.3s;
                
                    a:hover{
                        background-color: #1cc0c6;
                        color: #ffffff;
                    }
                }
                
                a{
                    color: #fff;
                    font-size: 36px;
                    font-weight: 400;
                    padding: 15px 60px;
                    border-radius: 10px;
                    background: #FF5F00;
                    transition-duration: 0.3s;
                }
            }
        }
    }
}

.team-section{
    .team-section_container{
        max-width: 1700px;
        h2{
            margin-top: 1em;
            text-align: center;
            color: #0A0A0A;
            font-size: 64px;
            font-weight: 600;
            // margssin: 90px 0 121px 80px;
        }

            ul{
                display: flex;
                padding-top: 3em;
                text-align: center;
                margin: 0 auto;
                justify-content: space-around;
                li{
                    align-items: center;
                    width: 250px;
                    img{
                        margin-bottom: 34px;
                        max-width: 230px;
                        max-height: 230px;               
                    }
                    p{
                        margin-top: 10px;
                        margin-bottom: 27px;
                        font-size: 22px;
                    }
                }
            }
        }

    }


.blog-section{
    margin-bottom: 137px;
    .blog-section_container{
        text-align: center;
        h2{
            text-align: center;
            color: #000;
            font-size: 55px;
            font-weight: 600;
            margin: 100px 0 76px 0;
        }
        .blog-all{
            display: flex;

            margin-bottom: 66px;
            
            ul{
                justify-content: space-between;
                text-align: center;
                max-width: 33.3%;
                li{
                    p{
                        color: #FF5F00;
                        text-align: center;
                        font-weight: 600;
                        font-size: 27px;
                    }
                    img{
                        max-width: 350px;
                        max-height: 260px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .blog-link{
            color: #282828;
            border-radius: 5px;
            padding: 20px 60px;
            border-width: 2px;
            border-style: solid;
            border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
            border-image-slice: 1;
            background: linear-gradient(180deg, rgba(255, 95, 0, 0) 0%, rgba(255, 95, 0, 0) 100%);
        }
        .blog-link:hover {
            border-width: 4px;
        }
    }
}

.footer{
    padding: 83px 0 80px 0;
    background: #F2F2F2;
    .footer_container{
        
        .footer-all{
            display: flex;
            justify-content: space-around;
            .footer-logo-list{
                img{
                    max-width: 120px;
                    max-height: 120px;
                    margin-bottom: 10px;
                }
        }
            }
            h4{
                font-size: 28px;
            }
            .footer-item-all{
                display: flex;
                gap: 0 60px ;
                margin-bottom: 130px;
                ul{
                    h5{
                        margin-bottom: 5px;
                        font-weight: 700;
                        font-size: 25px;
                    }
                    a{
                        color: #0A0A0A;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .footer-contact{
                    display: flex;
                    flex-direction: column;
                    li{
                        &:nth-child(2) {
                            margin-bottom: 1px;
                        }
                    }
                }
    
            }
        }

    
    .footer-copyright{
        text-align: center;
        font-size: 15px;
        position: relative;
    }
    .footer-copyright::before{
        content: "";
        position: absolute;
        top: -44px;
        left: 50%;
        transform: translateX(-50%);
        width: 84%;
        height: 2px;
        background-color: black;
    }

}

// index.html END

