[class*=_container] {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.header {
  background: #363636;
}
.header .logo img {
  max-width: 100px;
  max-height: 100px;
}
.header .header_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}
.header .header_container a {
  color: #FFF;
}
.header .header_container .nav {
  display: flex;
}
.header .header_container .nav ul {
  display: flex;
  gap: 0 85px;
}
.header .header_container .nav ul li .active {
  color: #999999;
}
.header .header_container .nav ul li .nav-item-ukr {
  color: #999999;
}
.header .header_container .nav ul li a {
  color: #FFF;
  font-size: 20px;
  transition: ease-in-out 0.3s;
}
.header .header_container .nav ul li a:hover {
  cursor: pointer;
  color: #999999;
}

.hero-section {
  background-image: url(/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.hero-section .hero-section_container {
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.hero-section .hero-section_container h1 {
  padding: 221px 0 60px 0;
  color: #FFF;
  font-size: 53px;
  font-weight: 600;
}
.hero-section .hero-section_container p {
  color: #FFF;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 80px;
  max-width: 1300px;
}
.hero-section .hero-section_container .hero-btn {
  padding: 21px 71px;
  margin-bottom: 292px;
  background-color: #FF5F00;
  color: #fff;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.hero-section .hero-section_container .hero-btn:hover {
  background-color: #1cc0c6;
  color: #ffffff;
}

.mission-section {
  background: linear-gradient(270deg, #00D885 0%, #71A6F6 100%);
  background-size: cover;
}
.mission-section .mission-section_container h2 {
  color: #000;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  padding: 75px 0 130px 0;
}
.mission-section .mission-section_container .mission-all {
  align-items: center;
  display: flex;
  padding-bottom: 150px;
}
.mission-section .mission-section_container .mission-all .mission-left {
  max-width: 50%;
}
.mission-section .mission-section_container .mission-all .mission-left h4 {
  font-size: 40px;
  color: #0A0A0A;
  margin-bottom: 45px;
  max-width: 800px;
}
.mission-section .mission-section_container .mission-all .mission-left p {
  font-size: 26px;
  color: #282828;
}
.mission-section .mission-section_container .mission-all .mission-right {
  display: flex;
}
.mission-section .mission-section_container .mission-all .mission-right .mission-img1 {
  max-width: 60%;
  height: auto;
}
.mission-section .mission-section_container .mission-all .mission-right .mission-img2 {
  max-width: 30%;
  height: auto;
}

.projects-section {
  margin-bottom: 140px;
}
.projects-section .projects-section_container {
  text-align: center;
  align-items: center;
}
.projects-section .projects-section_container h2 {
  color: #000;
  font-size: 55px;
  font-weight: 600;
  margin: 65px 0;
}
.projects-section .projects-section_container ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  gap: 0 10px;
}
.projects-section .projects-section_container ul li img {
  max-width: 80%;
  height: auto;
  padding-bottom: 26px;
}
.projects-section .projects-section_container ul li h4 {
  color: #FF5F00;
  font-size: 30px;
  font-weight: 600;
  max-width: 752px;
}
.projects-section .projects-section_container ul li p {
  color: #5C5C5C;
  font-size: 30px;
  font-weight: 500;
  margin-top: 27px;
  padding-bottom: 53px;
  max-width: 752px;
}
.projects-section .projects-link {
  color: #282828;
  border-radius: 5px;
  padding: 20px 60px;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
     border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
  border-image-slice: 1;
  background: linear-gradient(180deg, rgba(255, 95, 0, 0) 0%, rgba(255, 95, 0, 0) 100%);
}
.projects-section .projects-link:hover {
  border-width: 4px;
}

.donate-section {
  background-image: url(/images/111.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 180px;
  background-repeat: no-repeat;
}
.donate-section .donate-section_container h2 {
  padding: 75px 0;
  text-align: center;
  width: 600;
  font-size: 55px;
  color: #fff;
}
.donate-section .donate-section_container .donate-all {
  display: flex;
  justify-content: center;
}
.donate-section .donate-section_container .donate-all .donate-left {
  margin-right: 21px;
}
.donate-section .donate-section_container .donate-all .donate-right {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px 0;
}
.donate-section .donate-section_container .donate-all .donate-right h3 {
  color: #FFF;
  font-size: 35px;
  font-weight: 600;
}
.donate-section .donate-section_container .donate-all .donate-right p {
  color: #FFF;
  font-size: 28px;
  max-width: 729px;
  flex: 1 1 auto;
  height: 80px;
}
.donate-section .donate-section_container .donate-all .donate-right .donate-btn {
  margin-bottom: 20px;
  transition-duration: 0.3s;
}
.donate-section .donate-section_container .donate-all .donate-right .donate-btn a:hover {
  background-color: #1cc0c6;
  color: #ffffff;
}
.donate-section .donate-section_container .donate-all .donate-right a {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  padding: 15px 60px;
  border-radius: 10px;
  background: #FF5F00;
  transition-duration: 0.3s;
}

.team-section .team-section_container {
  max-width: 1700px;
}
.team-section .team-section_container h2 {
  margin-top: 1em;
  text-align: center;
  color: #0A0A0A;
  font-size: 64px;
  font-weight: 600;
}
.team-section .team-section_container ul {
  display: flex;
  padding-top: 3em;
  text-align: center;
  margin: 0 auto;
  justify-content: space-around;
}
.team-section .team-section_container ul li {
  align-items: center;
  width: 250px;
}
.team-section .team-section_container ul li img {
  margin-bottom: 34px;
  max-width: 230px;
  max-height: 230px;
}
.team-section .team-section_container ul li p {
  margin-top: 10px;
  margin-bottom: 27px;
  font-size: 22px;
}

.blog-section {
  margin-bottom: 137px;
}
.blog-section .blog-section_container {
  text-align: center;
}
.blog-section .blog-section_container h2 {
  text-align: center;
  color: #000;
  font-size: 55px;
  font-weight: 600;
  margin: 100px 0 76px 0;
}
.blog-section .blog-section_container .blog-all {
  display: flex;
  margin-bottom: 66px;
}
.blog-section .blog-section_container .blog-all ul {
  justify-content: space-between;
  text-align: center;
  max-width: 33.3%;
}
.blog-section .blog-section_container .blog-all ul li p {
  color: #FF5F00;
  text-align: center;
  font-weight: 600;
  font-size: 27px;
}
.blog-section .blog-section_container .blog-all ul li img {
  max-width: 350px;
  max-height: 260px;
  margin-bottom: 8px;
}
.blog-section .blog-section_container .blog-link {
  color: #282828;
  border-radius: 5px;
  padding: 20px 60px;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
     border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
  border-image-slice: 1;
  background: linear-gradient(180deg, rgba(255, 95, 0, 0) 0%, rgba(255, 95, 0, 0) 100%);
}
.blog-section .blog-section_container .blog-link:hover {
  border-width: 4px;
}

.footer {
  padding: 83px 0 80px 0;
  background: #F2F2F2;
}
.footer .footer_container .footer-all {
  display: flex;
  justify-content: space-around;
}
.footer .footer_container .footer-all .footer-logo-list img {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 10px;
}
.footer .footer_container h4 {
  font-size: 28px;
}
.footer .footer_container .footer-item-all {
  display: flex;
  gap: 0 60px;
  margin-bottom: 130px;
}
.footer .footer_container .footer-item-all ul h5 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
}
.footer .footer_container .footer-item-all ul a {
  color: #0A0A0A;
  font-size: 20px;
  font-weight: 500;
}
.footer .footer_container .footer-item-all .footer-contact {
  display: flex;
  flex-direction: column;
}
.footer .footer_container .footer-item-all .footer-contact li:nth-child(2) {
  margin-bottom: 1px;
}
.footer .footer-copyright {
  text-align: center;
  font-size: 15px;
  position: relative;
}
.footer .footer-copyright::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: 2px;
  background-color: black;
}/*# sourceMappingURL=scss.css.map */