[class*="_container"]{
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 20px;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.header{
    background: #363636;
    
    .header_container{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        a{
            color: #FFF;
        }
        .nav{
            display: flex;
            ul{
                a:hover {
                        color: #999999;
                }
                display: flex;
                gap: 0 85px;
                li{
                    .nav-item-ukr{
                        color: #999999;
                    }
                    .active-blog {
                        color: #999999;
                    } 
                    a{
                        transition-duration: 0.3s;
                        color: #FFF;
                        font-size: 20px; 

                    }

                }
            }
        }
    }
}

.footer{
    padding: 83px 0 80px 0;
    background: #F2F2F2;
    .footer_container{

        .footer-all{
            display: flex;
            justify-content: space-around;
            h4{
                font-size: 28px;
            }
            .footer-item-all{
                display: flex;
                gap: 0 60px ;
                margin-bottom: 130px;
                ul{
                    h5{
                        margin-bottom: 5px;
                        font-weight: 700;
                        font-size: 25px;
                    }
                    a{
                        color: #0A0A0A;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .footer-contact{
                    display: flex;
                    flex-direction: column;
                    li{
                        &:nth-child(2) {
                            margin-bottom: 1px;
                        }
                    }
                }
    
            }
        }

    }
    .footer-copyright{
        text-align: center;
        font-size: 15px;
        position: relative;
    }
    .footer-copyright::before{
        content: "";
        position: absolute;
        top: -44px;
        left: 50%;
        transform: translateX(-50%);
        width: 84%;
        height: 2px;
        background-color: black;
    }

}

.article-headline{
    
    position: relative;
    padding: 162px 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    

    background: linear-gradient(270deg, #71A6F6 0%, #00D885 100%);
    h1{
        text-shadow: 2px 2px 4px #0A0A0A;
        font-weight: 600;
        font-size: 64px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
    }
    img {
        position: absolute;
        width: 290px;
        height: 290px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
 

    }
}

.quest-title{
    color: #0A0A0A;
    font-size: 46px;
    font-weight: 600;
    text-align: start;
    line-height: 56.07px;
}

section{
    max-width: 1314px;
    margin: 0 auto;
    padding: 0 20px;

    h2{
        color: #FF5F00;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;
    }

    p{
        color: #5C5C5C;
        font-size: 22px;
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 26.82px;
    }

    span{
        font-size: 22px;
        color: #FF5F00;
        font-weight: 700;
    }

    
}
.arcicle-screenresolution{
    margin-bottom: 90px;
}
