[class*="_container"]{
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 20px;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    background: #363636;
    
    .header_container{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        a{
            color: #FFF;
        }
        .nav{
            display: flex;
            ul{
                a:hover{
                    color: #999999;
                }
                display: flex;
                gap: 0 85px;
                .nav-item-ukr{
                    color: #999999;
                }
                li{
                    .active-blog {
                        color: #999999;
                    } 
                    a{
                        transition-duration: 0.3s;
                        color: #FFF;
                        font-size: 20px; 

                    }

                }
            }
        }
    }
}

main {
    .container {
        h2 {
            font-weight: 600;
            margin-top: 45px;
            font-size: 46px;
        }
        ul {
            margin-top: 94px;
            margin-bottom: 94px;
            

            li::before{
                content: "";
                position: absolute;
                transform: translateY(-50%); /* Центрируем вертикально */
                width: 100%; /* Ширина линии */
                height: 1px; /* Высота линии */
                top: 3px;
                background-color:#857F7F;
                top: -29.5px;
            }

            li {
                position: relative;
                display: flex;
                margin-bottom: 3em;

                
                .txt {
                    float: left;
                    width: 50%;
                    margin-right: 30px;
                    box-sizing: border-box;
                }
                
                
                h3 {
                    font-size: 36px;
                    font-weight: 600;
                    color: #FF5F00;
                }

                p {
                    font-size: 22px;
                    font-weight: 400;
                    color: #5C5C5C;
                    margin-bottom: 4.8em;;
                    margin-top: 17.5px;
                }

                a {
                    font-weight: 400;
                    color: #282828;
                    border-radius: 5px;
                    padding: 20px 60px;
                    border-width: 2px;
                    border-style: solid;
                    border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
                    border-image-slice: 1;
                    background: linear-gradient(180deg, rgba(255, 95, 0, 0) 0%, rgba(255, 95, 0, 0) 100%);
                }
                a:hover {
                    border-width: 4px;
                }
            
                img {
                    width: 50%;
                }

                

            }
        }
    }
}

.footer{
    padding: 83px 0 80px 0;
    background: #F2F2F2;
    .footer_container{
        
        .footer-all{
            display: flex;
            justify-content: space-around;
            h4{
                font-size: 28px;
            }
            .footer-item-all{
                display: flex;
                gap: 0 60px ;
                margin-bottom: 130px;
                ul{
                    h5{
                        margin-bottom: 5px;
                        font-weight: 700;
                        font-size: 25px;
                    }
                    a{
                        color: #0A0A0A;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .footer-contact{
                    display: flex;
                    flex-direction: column;
                    li{
                        &:nth-child(2) {
                            margin-bottom: 1px;
                        }
                    }
                }
    
            }
        }

    }
    .footer-copyright{
        text-align: center;
        font-size: 15px;
        position: relative;
    }
    .footer-copyright::before{
        content: "";
        position: absolute;
        top: -44px;
        left: 50%;
        transform: translateX(-50%);
        width: 84%;
        height: 2px;
        background-color: black;
    }

}