[class*=_container] {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.header {
  background: #363636;
}
.header .header_container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_container a {
  color: #FFF;
}
.header .header_container .nav {
  display: flex;
  align-items: center;
}
.header .header_container .nav ul {
  align-items: center;
  display: flex;
  gap: 0 85px;
}
.header .header_container .nav ul li a {
  color: #FFF;
  font-size: 26px;
}
.header .header_container .nav ul li .active {
  color: #999999;
}

.project-about .project-about_container {
  max-width: 1650px;
}
.project-about .project-about_container h1 {
  margin: 45px 0 100px 0;
  color: #000;
  font-size: 46px;
  font-weight: 600;
}
.project-about .project-about_container .project-about-body h2 {
  color: #FF5F00;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}
.project-about .project-about_container .project-about-body ul {
  display: flex;
}
.project-about .project-about_container .project-about-body ul li p {
  max-width: 1035px;
  color: #5C5C5C;
  font-size: 22px;
  margin-bottom: 15px;
}
.project-about .project-about_container .project-about-body ul li img {
  max-width: 500px;
  max-height: 679px;
}
.project-about .project-about_container h4 {
  color: #0A0A0A;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 27px;
}

.project-gallery {
  max-width: 1200px;
  padding: 0px 25px;
  margin: 0 auto;
  margin-bottom: 5em;
  position: relative;
}
.project-gallery i {
  height: 40px;
  width: 40px;
  background-color: #c4c4c4;
  color: #0A0A0A;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  border-radius: 50%;
  transition-duration: 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.project-gallery i:hover {
  background-color: rgb(124, 124, 124);
  cursor: pointer;
}
.project-gallery i:first-child {
  left: -260px;
}
.project-gallery i:last-child {
  right: -260px;
}
.project-gallery ul {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  gap: 20px;
}
.project-gallery ul li img {
  max-width: 523px;
  height: 394px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1750px) {
  .project-gallery {
    max-width: 1200px;
    padding: 0px 25px;
    margin: 0 auto;
    margin-bottom: 5em;
    position: relative;
  }
  .project-gallery i {
    height: 40px;
    width: 40px;
    background-color: #c4c4c4;
    color: #0A0A0A;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    border-radius: 50%;
    transition-duration: 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .project-gallery i:hover {
    background-color: rgb(124, 124, 124);
    cursor: pointer;
  }
  .project-gallery i:first-child {
    left: -40px;
  }
  .project-gallery i:last-child {
    right: -40px;
  }
  .project-gallery ul {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: calc(33.3333333333% - 12px);
    gap: 2em;
  }
  .project-gallery ul li img {
    max-width: 350px;
    height: 294px;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.footer {
  padding: 83px 0 80px 0;
  background: #F2F2F2;
}
.footer .footer_container .footer-all {
  display: flex;
  gap: 0 130px;
}
.footer .footer_container .footer-item-all {
  display: flex;
  justify-content: space-between;
  gap: 0 150px;
  margin-bottom: 130px;
}
.footer .footer_container .footer-item-all ul h5 {
  margin-bottom: 9px;
  font-weight: 600;
}
.footer .footer_container .footer-item-all ul a {
  color: #0A0A0A;
}
.footer .footer_container .footer-item-all .footer-contact {
  display: flex;
  flex-direction: column;
}
.footer .footer_container .footer-item-all .footer-contact li:nth-child(2) {
  margin-bottom: 9px;
}
.footer .footer-copyright {
  text-align: center;
  position: relative;
}
.footer .footer-copyright::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: 2px;
  background-color: black;
}/*# sourceMappingURL=project-first.css.map */