[class*="_container"]{
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 20px;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.header{
    a:hover{
        color: #9999;
    }
    background: #363636;
    
    .header_container{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        a{
            color: #FFF;
            transition-duration: 0.3s;
        }
        .nav{
            display: flex;
            ul{
                display: flex;
                gap: 0 85px;
                
                li{
                    
                    a{
                        color: #FFF;
                        font-size: 20px;
                    }
                    a:hover {
                        color: #999999;
                    }
                    .active {
                        color:#999999; /* Измените цвет на тот, который вам нужен */
                    }

                    
                }
                
            }
            
        }
    }
}
.projects-section{
    .projects_container{
        h1{
            margin: 45px 0 100px 0;
            color: #000;
            font-size: 46px;
            font-weight: 600;
        }

        .project-first, .project-second{
            position: relative; 
            display: flex;
            justify-content: space-between;
            ul{
                max-width: 736px;
                h2{
                    color: #FF5F00;
                    font-size: 36px;
                    font-weight: 600;
                    margin-bottom: 18px;
                }
                p{
                    color: #5C5C5C;
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 130px;
                }
                .projects-link{
                    color: #282828;
                    border-radius: 5px;
                    padding: 20px 60px;
                    border-width: 2px;
                    border-style: solid;
                    border-image: linear-gradient(90.17deg, #FBC101 3.6%, #81CA8F 28.88%, #A2DDEF 63.27%, #5720FC 98.09%);
                    border-image-slice: 1;
                    background: linear-gradient(180deg, rgba(255, 95, 0, 0) 0%, rgba(255, 95, 0, 0) 100%);
                }
                .projects-link:hover {
                    border-width: 3px;    
                }
            }   
            }
            img{
                margin-bottom: 80px;
                max-height: 386px;
            }
        }
        div::before{
            content: "";
            position: absolute;
            top: -39px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background-color: #857F7F;
        }

    }


    .footer{
        padding: 83px 0 80px 0;
        background: #F2F2F2;
        .footer_container{
    
            .footer-all{
                display: flex;
                justify-content: space-around;
                h4{
                    font-size: 28px;
                }
                .footer-item-all{
                    display: flex;
                    gap: 0 60px ;
                    margin-bottom: 130px;
                    ul{
                        h5{
                            margin-bottom: 5px;
                            font-weight: 700;
                            font-size: 25px;
                        }
                        a{
                            color: #0A0A0A;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                    .footer-contact{
                        display: flex;
                        flex-direction: column;
                        li{
                            &:nth-child(2) {
                                margin-bottom: 1px;
                            }
                        }
                    }
        
                }
            }
    
        }
        .footer-copyright{
            text-align: center;
            font-size: 15px;
            position: relative;
        }
        .footer-copyright::before{
            content: "";
            position: absolute;
            top: -44px;
            left: 50%;
            transform: translateX(-50%);
            width: 84%;
            height: 2px;
            background-color: black;
        }
    
    }