@media (max-width: 1681px){
    .project-gallery{
        display: none;
    }
}

@media (max-width: 1400px){
    .project-about{
        .project-about_container{
            .project-body{
                img{
                    max-width: 500px;
                }
                .project-text{
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .header{
        .header_container{
            .nav{
                display: none;
            }
        }
    }
}

@media (max-width: 960px){
    .project-about{
        .project-about_container{
            h1{
                margin: 45px 0 90px 0;
            }
            h2{
                margin-bottom: 15px;
            }
            text-align: center;
            .project-body{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    max-width: 90%;
                }
            }
        }
    }

    .footer{
        padding: 40px 0 20px 0;
        .footer_container{
            .footer-all{
                
                h4{
                    font-size: 15px;
                }
                .footer-item-all{
                    display: block;
                    gap: 0 0;
                    margin-bottom: 50px;
                    .footer-logo-list{
                        max-width: 20%;
                    }
                    ul{
                        margin-bottom: 20px;
                        li{

                            h5{
                                font-size: 20px;
                                margin-bottom: 5px;
                            }
                            a{
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }

}
