[class*=_container] {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.header {
  background: #363636;
}
.header .header_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}
.header .header_container a {
  color: #FFF;
}
.header .header_container .nav {
  display: flex;
}
.header .header_container .nav ul {
  display: flex;
  gap: 0 85px;
}
.header .header_container .nav ul a:hover {
  color: #999999;
}
.header .header_container .nav ul .nav-item-ukr {
  color: #999999;
}
.header .header_container .nav ul li .active-blog {
  color: #999999;
}
.header .header_container .nav ul li a {
  transition-duration: 0.3s;
  color: #FFF;
  font-size: 20px;
}

.footer {
  padding: 83px 0 80px 0;
  background: #F2F2F2;
}
.footer .footer_container .footer-all {
  display: flex;
  justify-content: space-around;
}
.footer .footer_container .footer-all h4 {
  font-size: 28px;
}
.footer .footer_container .footer-all .footer-item-all {
  display: flex;
  gap: 0 60px;
  margin-bottom: 130px;
}
.footer .footer_container .footer-all .footer-item-all ul h5 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
}
.footer .footer_container .footer-all .footer-item-all ul a {
  color: #0A0A0A;
  font-size: 20px;
  font-weight: 500;
}
.footer .footer_container .footer-all .footer-item-all .footer-contact {
  display: flex;
  flex-direction: column;
}
.footer .footer_container .footer-all .footer-item-all .footer-contact li:nth-child(2) {
  margin-bottom: 1px;
}
.footer .footer-copyright {
  text-align: center;
  font-size: 15px;
  position: relative;
}
.footer .footer-copyright::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: 2px;
  background-color: black;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.article-headline {
  background: linear-gradient(269deg, #E800A7 0%, #078EAB 100%);
  padding: 162px 0;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.article-headline h1 {
  position: relative;
  font-size: 64px;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.article-headline img {
  position: absolute;
  top: 141px;
  left: 610px;
  z-index: 1;
}

.quest-title {
  color: #0A0A0A;
  font-size: 46px;
  font-weight: 600;
  text-align: start;
  line-height: 56.07px;
}

section {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  color: #FF5F00;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
section h3 {
  color: #FF5F00;
  font-size: 32px;
  font-weight: 600;
}
section p {
  color: #5C5C5C;
  font-size: 22px;
  margin-bottom: 1em;
  font-weight: 500;
  line-height: 26.82px;
}
section span {
  font-size: 22px;
  color: #FF5F00;
  font-weight: 700;
}

.arcicle-screenresolution {
  margin-bottom: 90px;
}/*# sourceMappingURL=article-2.css.map */