@media (min-width: 3839px) {
  [class*=_container] {
    min-width: 2200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    padding: 50px 0;
  }
  .header .header_container a {
    font-size: 50px;
  }
  .header .header_container .nav ul li a {
    font-size: 45px;
  }
  .hero-section .hero-section_container h1 {
    font-size: 84px;
  }
  .hero-section .hero-section_container p {
    font-size: 45px;
    line-height: 60px;
  }
  .hero-section .hero-section_container .hero-btn {
    padding: 51px 141px;
    font-size: 50px;
    border-radius: 20px;
  }
  .mission-section {
    padding: 150px 0;
  }
  .mission-section .mission-section_container h2 {
    padding-top: 160px;
    font-size: 80px;
  }
  .mission-section .mission-section_container .mission-all .mission-left h4 {
    font-size: 60px;
  }
  .mission-section .mission-section_container .mission-all .mission-left p {
    font-size: 50px;
  }
  .mission-section .mission-section_container .mission-all .mission-right {
    display: flex;
    align-items: first baseline;
  }
  .mission-section .mission-section_container .mission-all .mission-right .mission-img1 {
    background-size: cover;
    min-width: 700px;
    min-height: 600px;
  }
  .mission-section .mission-section_container .mission-all .mission-right .mission-img2 {
    min-width: 400px;
    min-height: 500px;
  }
  .projects-section {
    padding: 100px 0;
  }
  .projects-section .projects-section_container h2 {
    font-size: 80px;
  }
  .projects-section .projects-section_container .projects-all ul li img {
    min-width: 900px;
    min-height: 700px;
  }
  .projects-section .projects-section_container .projects-all ul li h4 {
    font-size: 60px;
    padding-bottom: 35px;
  }
  .projects-section .projects-section_container .projects-all ul li p {
    font-size: 60px;
    min-width: 752px;
    padding-bottom: 170px;
  }
  .projects-section .projects-section_container .projects-link {
    padding: 50px 120px;
    font-size: 50px;
  }
  .donate-section .donate-section_container h2 {
    font-size: 100px;
  }
  .donate-section .donate-section_container .donate-all .donate-left {
    height: 100%;
  }
  .donate-section .donate-section_container .donate-all .donate-right h3 {
    font-size: 80px;
  }
  .donate-section .donate-section_container .donate-all .donate-right p {
    font-size: 60px;
  }
  .donate-section .donate-section_container .donate-all .donate-right a {
    font-size: 60px;
    padding: 30px 90px;
  }
  .team-section .team-section_container h2 {
    font-size: 94px;
  }
  .team-section .team-section_container .team-all ul img {
    margin-bottom: 40px;
  }
  .team-section .team-section_container .team-all ul p {
    font-size: 50px;
  }
  .blog-section .blog-section_container h2 {
    font-size: 90px;
  }
  .blog-section .blog-section_container .blog-all ul {
    max-width: 33.3%;
  }
  .blog-section .blog-section_container .blog-all ul li a p {
    font-size: 50px;
    margin-bottom: 70px;
  }
  .blog-section .blog-section_container .blog-link {
    padding: 50px 120px;
    font-size: 40px;
  }
  .footer .footer_container .footer-all h4 {
    font-size: 40px;
  }
  .footer .footer_container .footer-all ul ul li h5 {
    font-size: 40px;
  }
  .footer .footer_container .footer-all ul ul li a {
    font-size: 35px;
  }
}/*# sourceMappingURL=sccs-adaptive-styles.css.map */